<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-div">
      <form action="/post" method="post" class="form">
        <h1>Sign Up</h1>
        <h4>Username</h4>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Email or Phone"
        />
        <h4>Password</h4>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
        />
        <div class="login-button"><button>Sign Up</button></div>
        <div class="last">
          <button><i class="bx bxl-google"></i> Google</button>
          <button><i class="bx bxl-facebook"></i> facebook</button>
        </div>
      </form>
      <h5>
        Already have an account?
        <a href="/" style="color: blueviolet">Sign In</a>
      </h5>
    </div>
  </body>
</html>
